<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                         
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19218329?query=java">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16797552?query=java">Ведущий программист java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО РуСофт</td> 
     <td class="salary">от 120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19287341?query=java">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО РуСофт</td> 
     <td class="salary">от 100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18427336?query=java">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО ЦеТК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16932867?query=java">Программист JavaScript</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16932839?query=java">Инженер по автоматизации тестирования</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 50&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19307451?query=java">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Signal Works</td> 
     <td class="salary">до 75&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18083747?query=java">Java Developer в отдел разработки Service Desk</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">NAUMEN</td> 
     <td class="salary">40&nbsp;000-80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/15919967?query=java">Ведущий инженер по автоматизации тестирования</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19250052?query=java">Программист кассового ПО</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ВЕРНЫЙ, Сеть магазинов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18084178?query=java">Java Architect в отдел разработки Service Desk</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">NAUMEN</td> 
     <td class="salary">90&nbsp;000-120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18084201?query=java">Senior Java Developer в отдел разработки Service Desk</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">NAUMEN</td> 
     <td class="salary">80&nbsp;000-120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18323675?query=java">Java разработчик (Краснодар)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/14993243?query=java">Senior Front-end developer(JavaScript)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">GS Group. GS Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18323801?query=java">Senior Java Developer (Краснодар)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17461589?query=java">Java специалист на поддержку</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18245930?query=java">Инженер по тестированию</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 45&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19193963?query=java">Senior Java Fullstack Developer</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17646605?query=java">Программист Python</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19331433?query=java">Android разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Строительный Двор</td> 
     <td class="salary">33&nbsp;500-128&nbsp;500 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19109612?query=java">Специалист по автоматизированному тестированию</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19118682?query=java">Ведущий инженер по тестированию</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">до 80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18322548?query=java">Android Developer (Краснодар)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18323459?query=java">Senior Oracle Developer (Краснодар)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary">от 60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19252230?query=java">Senior Android разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО МФК Займер</td> 
     <td class="salary">от 70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19101928?query=java">Руководитель группы-разработчик (Тимлид)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19417903?query=java">Java-разработчик (Junior/Middle/Senior)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ИП Бальчунас А.А.</td> 
     <td class="salary">20&nbsp;000-40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19361625?query=java">Java веб-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Энерджи Софт</td> 
     <td class="salary">50&nbsp;000-100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19261155?query=java">Java-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Облачные решения</td> 
     <td class="salary">от 50&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19232765?query=java">Senior Android/iOS Developer</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ИП Swiss Tech</td> 
     <td class="salary">от 2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19381835?query=java">Web-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ИП Студия Креограф</td> 
     <td class="salary">30&nbsp;000-75&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19330120?query=java">PHP-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Метротел</td> 
     <td class="salary">от 100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19204436?query=java">Разработчик мобильных приложений Android</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ИП Студия Креограф</td> 
     <td class="salary">40&nbsp;000-75&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19289776?query=java">IT-специалист / Web-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО В.С.Групп</td> 
     <td class="salary">от 30&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19044898?query=java">Web-программист (веб-разработчик bitrix framework)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО BGS Group</td> 
     <td class="salary">40&nbsp;000-70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19217647?query=java">HTML-верстальщик/front-end разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Интернет-агентство Dextra</td> 
     <td class="salary">25&nbsp;000-35&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19216827?query=java">Программист</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ПАО ЧЕЛЯБИНВЕСТБАНК</td> 
     <td class="salary">от 50&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>